.goodsUnapprove_h1{
    display: block;
    height: 250px;
    padding-top: 160px;
    display: block;
    font-size: 24px;
    letter-spacing: 10px;
    text-align: center;
}

.goodsUnapprove_h3{
    font-size: 20px;
}